# -*- coding: utf-8 -*-
"""
Created on Sat Sep 26 16:35:29 2020

@author: Aravind K A
"""
python==3.7.3
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
pandas>=0.19
nltk>=3.4.5